body {
    background-color: aliceblue;
    font-family: 'Courier New';
}
h1 {
    text-align: center;
    color: #00a;
    font-size: 36px;
    margin-bottom: 20px;
    text-decoration: underline;
}
.list-section {
    display: inline-flex;
    flex-wrap: wrap;
}
.section {
    margin: 10px;
    border: solid pink;
}
.section h2 {
    background-color: pink;
    border: dashed;
    font-size: 24px;
    color: #00a;
    margin: 0;
    padding: 5px;
    text-align: center;
}
.section ul {
    list-style-type: none;
    padding: 5px;
}
.section li {
    margin: 10px;
    font-size: 18px;
    color: #00a;
}
.section input {
    margin: 5px;
}
.section input[type="number"] {
    width: 20px; /* Define a largura do campo de quantidade */
    border: none;
}